* {
    box-sizing: border-box;
    /*Para que los elementos no crezcan más allá de lo establecido*/
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(245, 245, 245);
    position: fixed;
    width: 100%;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 0;
    padding-right: 20px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
}

footer {
    background-color: rgb(230, 230, 230);
    color: black;
}

footer p {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 12px;
}

footer .contenedor {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: rgb(59, 59, 59);
}

#introduccion .contenedor
{
    background-color: rgb(224, 224, 224);
    display: flex;
    text-align: center;
    padding: 100px 12px;
    justify-content: center;
    align-items: center;
}

#introduccion .texto {
    width: 50%;
    max-width: 600px;
    padding: 0px 30px;
}

#introduccion .texto h1{
    margin-top: 0;
}
#introduccion .content-img1{
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.3)), url(/Imagenes/desarrolloWeb.png);
            background-size: cover;
            background-position: center center;
            height: 500px;
            width: 400px;
}

#introduccion .content-img2{
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(/Imagenes/marketing.jpg);
            background-size: cover;
            background-position: center center;
            height: 480px;
            width: 400px;
}
#introduccion .content-img3{
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(/Imagenes/phyton.png);
            background-size: cover;
            background-position: center center;
            height: 450px;
            width: 600px;
}

#introduccion .content-img4{
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(/Imagenes/diseñografico.jpg);
            background-size: cover;
            background-position: center center;
            height: 450px;
            width: 400px;
}

#introduccion .content-img5{
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(/Imagenes/appweb.jpg);
            background-size: cover;
            background-position: center center;
            height: 550px;
            width: 400px;
}

#introduccion .content-img6{
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(/Imagenes/gestionproyectos.jpg);
            background-size: cover;
            background-position: center center;
            height: 450px;
            width: 600px;
}
span{
    color: blueviolet;
}