body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('matematicas.jpg');
    background-position: center;
    background-attachment: fixed;
}

div {
    text-align: left;
    width: 350px;
    background-color: #fff;
    margin: 35px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px auto;
    
}

input[type="button"]:hover {
    background-color: aqua;
}

#resultados {
    margin-top: 20px;
}

p {
    font-weight: bold;
}

span {
    color: #007bff;
}