* {
    box-sizing: border-box;
    /*Para que los elementos no crezcan más allá de lo establecido*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*Quitar margen de las esquinas*/
}

h1 {
    font-size: 40px;
}

form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #8d8d8d;
}

form a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

form a:hover {
    color: blueviolet;
}


label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

input:hover {
    background-color: rgb(136, 90, 179);
}

input:hover::placeholder {
    color: white;
}

button {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgb(26, 26, 26);
    cursor: pointer;
}

button:hover {
    background-color: rgb(94, 35, 150);
}


#mensaje {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

#mensajefinal {
    margin-top: 20px;
    text-align: center;
}

.advertencia {
    font-size: 18px;
    color: rgb(230, 0, 0);
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
}

#Formulario {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(Imagenes/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#Formulario .contenedor {
    padding: 100px 30px;
}

#registro{
    text-align: center;
}

#registro a{
    color: rgb(206, 206, 206);
}

#registro a:hover{
    color: rgb(172, 125, 216);
}

#Formulario h2 {
    margin-top: 0;
}

#Formulario p {
    display: none;
}

form{
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url(Imagenes/formulario.jpg);
    color: white;
    background-size: cover;
}

button a {
    padding: 5px 12px;
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(230, 230, 230);
    color: black;
}

footer p {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 12px;
}

footer .contenedor {
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: rgb(59, 59, 59);
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .contenedor {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

}