* {
    box-sizing: border-box;
    /*Para que los elementos no crezcan más allá de lo establecido*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*Quitar margen de las esquinas*/
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(26, 26, 26);
    box-shadow: 2px 2px 10px rgb(26, 26, 26);
    color: white;
    background-color: blueviolet;
}

button:hover {
    background-color: rgb(94, 35, 150);
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
}

#buscador {
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 4px;
    outline: none;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1,
p {
    color: white;
}

#hero h1 {
    font-size: 4em;
}

#hero p {
    font-size: 1.5em;
}

#cursos-recomendados {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#cursos-recomendados .contenedor {
    padding: 70px 20px;
}

#cursos-recomendados h2 {
    margin-top: 20;
}

#cursos-recomendados p {
    display: none;
}

#cursos-recomendados .cursos {
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.cursos:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/curso1.jpg);
}

.cursos:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/curso2.jpg);
}

.cursos:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/curso3.png);
}

.cursos:nth-child(4) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/curso4.jpg);
}

.cursos:nth-child(5) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/curso5.jpg);
}

.cursos:nth-child(6) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/curso6.jpg);
}

button a {
    padding: 5px 12px;
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(230, 230, 230);
    color: black;
}

footer p {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 12px;
}

footer .contenedor {
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: rgb(59, 59, 59);
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .contenedor {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #cursos-recomendados .cursospro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #cursos-recomendados p {
        display: block;
        margin-bottom: 30px;
    }

    #cursos-recomendados h3 {
        margin-top: 0;
    }

    .cursos {
        width: calc(30% - 0px);/* Ajusta el ancho de cada elemento para que haya 3 por fila */
        margin-bottom: 0px;/* Espacio entre los elementos */
        border: 1px solid #ccc;/* Añade un borde para mayor claridad */
        padding: 10px;
        box-sizing: border-box;
    }
}